<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ng-recipes</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="ngRecipes"><!-- app -->
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <a class="navbar-right navbar-img" href="#"><img src="img/AngularJS.png" alt=""></a>
    </div>
  </div>

  <section ng-controller="NgRecipesCtrl as ctrl"><!-- ctrl -->
    <div class="outer-container">

      <div class="add-recipe-group input-group input-group-lg">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-list-alt"></i>
        </span>
        <input placeholder="New Recipe" class="form-control" type="text" ng-model="ctrl.newRecipe"><!-- model  -->
        <span class="input-group-btn">
          <button ng-click="ctrl.addNewRecipe()" class="btn btn-success" type="button"><!-- click  -->
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </span>
      </div>
      
      <div ng-repeat="recipe in ctrl.recipes">
        <div class="input-group input-group-lg" ><!-- repeat  -->
          <span class="input-group-addon">
            <input type="checkbox" ng-click="ctrl.expandRecipe($index)"> <!-- click -->
          </span>
          <input class="form-control" type="text" ng-model="recipe.val"><!-- model / class  -->
          <span class="input-group-btn">
            <button ng-click="ctrl.deleteRecipe($index)" class="btn btn-danger" type="button"><!-- click  -->
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </span>
        </div>
        <div ng-repeat="ingredient in ctrl.recipes[$index].ingredients">
          <input ng-model="recipe.ingredients[$index]"></input>
        </div>
          <input type="text" placeholder="Add Ingredient" ng-model="ctrl.newIngredient" name =$index></input>
          <button ng-click="ctrl.addNewIngredient($index)" class="btn btn-success" type="button"><!-- click  -->
            <i class="glyphicon glyphicon-plus"></i>
          </button>
      </div>
    </div>
  </section>
</body>

<!-- JS Assets -->
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/ngRecipeCtrl.js"></script>
</html>
